## Tiki.gitignore - customized by jgd
# Ignore binaries
/bin/
# Ignore local.php
/db/local.php
# Ignore file upload directories
/files/forums/
/files/templates/
/img/trackers/
/img/wiki_up/
# Ignore system caches
/modules/cache/
/temp/
/templates_c/
# Ignore vendor folders, they are managed by composer
# /vendor/
# Ignore PhpStorm
.idea/
# jgd additions
# Ignore derived files
TAGS
TAGS-*
# Ignore subversion stores
.svn/
# Ignore locks
*.lock
# Ignore backup files
*~
*#
# Ignore our project area NGender - we'll need a separate repository for it!!
NGender/
# Ignore Misc
Limbo/
phpinfo.php
foobar.*
foo.*
bar.*
*.foo
*.tmp
logerrors.command
.tramp*
